@import 'initialize/normalize';
@import 'initialize/fonts';
@import 'initialize/variables';

@import 'header';
@import 'footer';

.wrapper {
  padding: 60px 10px;

  max-width: 1280px;
  margin: 0 auto;

  position: relative;

  @media (min-width: 496px) {
    padding: 60px 80px;
  }
}

@import 'components/carousel';
@import 'components/modal';
@import 'components/description';
@import 'components/column';
@import 'components/video';
@import 'components/number';
@import 'components/advertisement';
@import 'components/decoration';
