@font-face {
  font-family: 'Raleway';
  src: url(../files/fonts/Raleway/300.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Raleway';
  src: url(../files/fonts/Raleway/400.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Raleway';
  src: url(../files/fonts/Raleway/700.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Raleway';
  src: url(../files/fonts/Raleway/800.ttf);
  font-weight: 800;
}
