.advertisement
	.advertisement__chat
		img.advertisement__girl(src="images/girl.png", alt="Girl")
		.advertisement__message
			.advertisement__grid
				img(src="images/grid/1.png", alt="Icon")
				img(src="images/grid/2.png", alt="Icon")
				img(src="images/grid/3.png", alt="Icon")
				img(src="images/grid/4.png", alt="Icon")
				img(src="images/grid/5.png", alt="Icon")
				img(src="images/grid/6.png", alt="Icon")
		.advertisement__window
			.advertisement__top
				button.advertisement__close
			p.advertisement__text
				|Дистанционное образование равноценно традиционному заочному:
				|учебные программы не отличаются друг от друга.
				br
				|После окончания ВУЗа обучающийся получает диплом государственного образца.
			.advertisement__bottom
				svg.advertisement__prev(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M15.0378 6.34317L13.6269 7.76069L16.8972 11.0157L3.29211 11.0293L3.29413 13.0293L16.8619 13.0157L13.6467 16.2459L15.0643 17.6568L20.7079 11.9868L15.0378 6.34317Z"
    fill="#ffffff")
				a.advertisement__button(href="https://abit.vyatsu.ru/register" target="_blank")
					|Заполнить
					br
					|анкету
				svg.advertisement__next(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M15.0378 6.34317L13.6269 7.76069L16.8972 11.0157L3.29211 11.0293L3.29413 13.0293L16.8619 13.0157L13.6467 16.2459L15.0643 17.6568L20.7079 11.9868L15.0378 6.34317Z"
    fill="#ffffff")
	.advertisement__column
		p.advertisement__item
			|диплом
			br
			|государственного
			br
			|образца
		p.advertisement__item
			|Индивидуальный
			br
			|подход
		p.advertisement__item
			|Учебные
			br
			|материалы
		p.advertisement__item
			|интерактивность
		p.advertisement__item
			|Дистанционная
			br
			|сдача экзаменов
		p.advertisement__item
			|Высокие
			br
			|результаты
			br
			|обучения
