.carousel
  h2.carousel__title Профессии
  .carousel__content
    .carousel__slider.swiper
      .swiper-wrapper
        .swiper-slide.carousel__item
          img.carousel__image(src="images/carousel/1.png", alt="People")
          h3.carousel__text
            |ФИНАНСЫ
            br
            |(КОЛЛЕДЖ ВЯТГУ)
        .swiper-slide.carousel__item
          img.carousel__image(src="images/carousel/2.png", alt="People")
          h3.carousel__text
            |ТЕХНОСФЕРНАЯ БЕЗОПАСНОСТЬ
            br
            |(МАГИСТРАТУРА)
        .swiper-slide.carousel__item
          img.carousel__image(src="images/carousel/3.png", alt="People")
          h3.carousel__text
            |БИЗНЕС-ИНФОРМАТИКА
            br
            |(БАКАЛАВРИАТ)
        .swiper-slide.carousel__item
          img.carousel__image(src="images/carousel/4.png", alt="People")
          h3.carousel__text
            |ПЕДАГОГИЧЕСКОЕ ОБРАЗОВАНИЕ
            br
            |(БАКАЛАВРИАТ)
        .swiper-slide.carousel__item
          img.carousel__image(src="images/carousel/5.png", alt="People")
          h3.carousel__text
            |ЮРИСПРУДЕНЦИЯ
            br
            |(МАГИСТРАТУРА)
        .swiper-slide.carousel__item
          img.carousel__image(src="images/carousel/6.png", alt="People")
          h3.carousel__text
            |ЭКОНОМИКА
            br
            |(БАКАЛАВРИАТ)
        .swiper-slide.carousel__item
          img.carousel__image(src="images/carousel/7.png", alt="People")
          h3.carousel__text
            |ПЕДАГОГИЧЕСКОЕ ОБРАЗОВАНИЕ
            br
            |(магистратура)
        .swiper-slide.carousel__item
          img.carousel__image(src="images/carousel/8.png", alt="People")
          h3.carousel__text
            |ПСИХОЛОГО-
            br
            |ПЕДАГОГИЧЕСКОЕ ОБРАЗОВАНИЕ
            br
            |(бакалавриат)
        .swiper-slide.carousel__item
          img.carousel__image(src="images/carousel/9.png", alt="People")
          h3.carousel__text
            |ЗЕМЕЛЬНО-
            br
            |ИМУЩЕСТВЕННЫЕ ОТНОШЕНИЯ
            br
            |(КОЛЛЕДЖ ВЯТГУ)
        .swiper-slide.carousel__item
          img.carousel__image(src="images/carousel/10.png", alt="People")
          h3.carousel__text
            |СТРОИТЕЛЬСТВО
            br
            |(БАКАЛАВРИАТ)
        .swiper-slide.carousel__item
          img.carousel__image(src="images/carousel/11.png", alt="People")
          h3.carousel__text
            |УПРАВЛЕНИЕ ПЕРСОНАЛОМ
            br
            |(БАКАЛАВРИАТ)
        .swiper-slide.carousel__item
          img.carousel__image(src="images/carousel/12.png", alt="People")
          h3.carousel__text
            |ГОСУДАРСТВЕННОЕ И МУНИЦИПАЛЬНОЕ
            br
            |УПРАВЛЕНИЕ
            br
            |(бакалавриат)
        .swiper-slide.carousel__item
          img.carousel__image(src="images/carousel/13.png", alt="People")
          h3.carousel__text
            |ЮРИСПРУДЕНЦИЯ
            br
            |(бакалавриат)
        .swiper-slide.carousel__item
          img.carousel__image(src="images/carousel/14.png", alt="People")
          h3.carousel__text
            |ЭКОНОМИКА
            br
            |(магистратура)
      .carousel__navigation
        .swiper-button-prev.carousel__button
        .swiper-button-next.carousel__button
