.column
	.column__info
		.column__item
			h2.column__title Ничего лишнего
			p.column__paragraph Любые вопросы при обучении в кратчайшие сроки помогут решить специалисты службы технической поддержки​
		.column__item
			h2.column__title Поступление без затруднений​
			p.column__paragraph Весь процесс поступления в университет проходит дистанционно и занимает считанные часы​
		a.column__button(href="https://abit.vyatsu.ru/register" target="_blank") Заполнить анкету
	.column__chat.chat
		h2.chat__title Чат со специалистом
		.chat__content
			.chat__message
				p.chat__text
					|Здравствуйте, планирую поступать на юриспруденцию (бакалавриат).
					br
					|Подскажите, пожалуйста, какие вступительные экзамены нужно сдать и сроки обучения.
					br
					|Я закончил колледж по данному направлению в 2020 году
					span.chat__time 13:25
				img.chat__avatar(src="images/avatar-1.png", alt="Avatar")
			.chat__message
				img.chat__avatar(src="images/avatar-2.png", alt="Avatar")
				p.chat__text
					|Здравствуйте!
					br
					|Вступительные экзамены по направлению юриспруденция: история, обществознание, русский язык.
					br
					|Сроки обучения для специалиста - 3 года 6 месяцев
					span.chat__time 13:29
			.chat__message
				p.chat__text
					|Спасибо!
					br
					|Где можно будет узнать о начале работы приёмной комиссии?
					span.chat__time 13:34
				img.chat__avatar(src="images/avatar-1.png", alt="Avatar")
			.chat__message
				img.chat__avatar(src="images/avatar-2.png", alt="Avatar")
				p.chat__print
					|печатает...
