.decoration
	img(src="images/decoration/left-1.png", alt="Decoration")
	img(src="images/decoration/left-2.png", alt="Decoration")
	img(src="images/decoration/left-3.png", alt="Decoration")

	img(src="images/decoration/right-1.png", alt="Decoration")
	img(src="images/decoration/right-2.png", alt="Decoration")

	img(src="images/decoration/center-1.png", alt="Decoration")
	img(src="images/decoration/center-2.png", alt="Decoration")
	img(src="images/decoration/center-3.png", alt="Decoration")
	img(src="images/decoration/center-4.png", alt="Decoration")

	img(src="images/decoration/arrow.png", alt="Decoration")
	img(src="images/decoration/curve.png", alt="Decoration")
