.description
	h2.description__title
		|Онлайн-обучение в ВятГУ - это
		b  современный
		|  способ
		br
		| получить первое или второе высшее!
	.description__content
		p.description__text
			|В 2022 году ВятГУ планирует набор по
			b  23
			|  образовательным программам высшего и среднего профессионального образования
		p.description__text
			|Высокое качество и современные подходы к обучению уже оценили свыше
			b  6000
			|  наших студентов и выпускников
		p.description__text
			|Преподаватели и кураторы направлений подготовки регулярно проходят курсы повышения квалификации, чтобы поддерживать актуальный уровень компетенций в области современных образовательных и инфокоммуникационных технологий
