footer.footer
	.footer__column
		.footer__block
			h3.footer__title Наши сайты
			a.footer__link(href="https://www.vyatsu.ru/" target="_blank") Сайт ВятГУ
			a.footer__link(href="https://open.vyatsu.ru/" target="_blank") «Открытый университет»
			a.footer__link(href="https://e.vyatsu.ru/" target="_blank") Сайт для самостоятельной работы студентов-очников
		.footer__block
			h3.footer__title Оформление сайта
			.footer__switcher
				span Для слабовидящих
				label.footer__switch(for="")
					input.footer__input(type='checkbox')
					.footer__circle
	.footer__column
		.footer__block
			h3.footer__title Контактная информация
			p.footer__info
				img(src="images/footer/place.png", alt="Icon")
				span 610000, г. Киров,ул. Московская, 36 - 1 корпус ВятГУ (каб. 117 а)
			p.footer__info
				img(src="images/footer/mail.png", alt="Icon")
				span distant@vyatsu.ru
			p.footer__info
				img(src="images/footer/phone.png", alt="Icon")
				span
					|8(8332)74-28-74
					|8(8332)74-29-90
