.number
	.number__item
		h2.number__value 930
		p.number__text онлайн-курсов
	.number__item
		h2.number__value
			|>9000
		p.number__text видеоматериалов
	.number__item
		h2.number__value 2885
		p.number__text выпускников
	.number__item
		h2.number__value 1883
		p.number__text сейчас учатся
