html
   head
      title Главная
      link(rel='stylesheet' href='styles/style.min.css')
   body
      .wrapper
         include html/header
         main.content
         include html/footer
      script(src='code/app.min.js')
